/* ============================================================
   🎨 Variables de Estilo
   ============================================================ */
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Figtree", sans-serif;

$color-bg-main: #f0f4f8;
$color-sidebar: #012040;
$color-highlight: #0eace4;

$color-progress-bg: #e9f5e5;
$color-progress-fill: #7ac142;

$color-label: #4b647e;
$color-light-bg: #f4f8ed;
$color-trip-bg: #ffffff;

$color-title: #b3cee9;
$color-subtitle: #ffffff;
$color-small: #7492b1;

$color-badge-bg: #7cc249;

$primary: #1e88e5;