/* ============================================================
   🛠 Utilities - Layout
   ============================================================ */
.w-xl-70 {
    width: 70%;

    @media (max-width: 1200px) {

        &,
        .top-sales-target {
            width: 100%;
        }
    }
}

.content-box {
    height: 100vh;
    overflow-y: auto;
}