/* ============================================================
   📊 Charts
   ============================================================ */

 @use '../abstracts/variables' as *;
 
.agent-agency-container,
.performance-chart-container,
.performance-chart,
.ratio-chart,
.kpi-chart,
.commission-chart {
    transition: all 0.3s ease;
    display: flex;
    flex: 1;
}

.performance-labels {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 45px;
    flex-shrink: 0;
}

canvas {
    width: 100% !important;
}

.performance-chart {
    canvas {
        height: 450px !important;
    }
}

.ratio-chart {
    canvas {
        height: 250px !important;
    }
}

.kpi-chart {
    canvas {
        height: 420px !important;
    }
}

.commission-chart {
    canvas {
        height: 370px !important;
    }
}